
.bestword{
  border: solid !important;
  border-color: green !important;
  text-align: center !important;
  background-color: white !important;
  position: absolute !important;
  margin-top: 45% !important;
  left: 82px;
  right: 82px;
}
