<!DOCTYPE html>
<html style="background-color:#2BC22B;">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Firebase Hosting</title>
    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAlIdtjWyLoDuWDYk-G0d6-gzAlTJSwkPo",
        authDomain: "bestword-aaf25.firebaseapp.com",
        databaseURL: "https://bestword-aaf25.firebaseio.com",
        storageBucket: "bestword-aaf25.appspot.com",
        messagingSenderId: "860576685611"
      };
      firebase.initializeApp(config);
    </script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/index.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="BestWord" style="background-color:#2BC22B;">
    <div style="background-color:#2BC22B;">
      <md-card ng-controller="MainController" >
        <h2 class="bestword">{{ bestword.word }} <i class="fa fa-arrow-down" aria-hidden="true" ng-click="downvote()"></i> {{ bestword.score }} <i class="fa fa-arrow-up" aria-hidden="true" ng-click="upvote()"></i></h2>
       <img src="img/logo.png" class="md-card-image" alt="image caption">
      <h4>Because "{{ bestword.author }}" says so</h4>
       <md-card-content>
          <h4>Is this the Best Word?</h4>
          <md-input-container>
            <label>No! the best word is</label>
            <input name="suggestion" ng-model="suggestion" required>
          </md-input-container>

          <md-input-container>
            <label>Because {{ user }} says so</label>
            <input name="suggestion" ng-model="user" required>
          </md-input-container>
        <md-button class="md-primary md-raised" ng-click="submit()" ng-disabled="bestword.score != 0"><p ng-if="bestword.score != 0">It needs to have exactly 0 votes
        </p><p ng-if="bestword.score == 0">Change the Best Word In the World</p></md-button>

       </md-card-content>
      </md-card>
    </div>


  </body>
</html>
